<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<form th:action="@{/search}" th:object="${form}" method="post" >
			<div class="form-group">
				<label>電話番号</label><br>
				<input type="text" th:field="*{tel}"><br>
				<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">Incorrect date</p>
			</div>
			<div class="form-group">	
				<label>カナ</label><br>
				<input type="text" th:field="*{name}"><br>
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" name="search">検索</button>
				<button type="submit" class="btn btn-info" name="download">download</button>
			</div>
			 <table class="table table-bordered">
			 	<thead class="thead-dark">
			      <tr>
			        <th>用户ID</th>
			        <th>用户名</th>
			        <th>电话号码</th>
			        <th>用户地址</th>
			      </tr>
			    </thead>
			    <tbody>
				    <tr th:each="Item:${form.customers}">
				        <td><label type="text"
				                th:text="${Item.custId}" /></td>
				        <td><label type="text" 
				                th:text="${Item.custName}" /></td>
				        <td><label type="text"
				                th:text="${Item.tel}" /></td>
				        <td><label type="text" 
				                th:text="${Item.address}" /></td>
				    </tr>
			    </tbody>
			</table>
		</form>  
	</div>
</body>
</html>